/* Add a rotating animation for the button */
.loader {
  border: 2px solid transparent;
  border-top: 2px solid #fff;
  border-radius: 50%;
  width: 1rem;
  height: 1rem;
  animation: spin 1s linear infinite;
}

/* Rotating animation */
@keyframes spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

/* Custom cursor style when disabled */
button[disabled] {
  cursor: not-allowed;
  background-color: #95b2b0; /* Change to a shade that indicates a "disabled" state */
}
